[submodule "uploader"]
	path = uploader
	url = git@github.com:csu/pyuploader.git
[submodule "modularity"]
	path = modularity
	url = git@github.com:csu/modularity.git
[submodule "notify"]
	path = notify
	url = git@github.com:csu/pynotify.git
